<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Nooks</title>
    <!-- load local stylesheet (css) -->
    <link rel="stylesheet" href="/styles.css" />
    <!-- loading jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%- include("partials/imports.ejs") %>
</head>

<body>
    <%- include("partials/navbar.ejs") %>

    <section class="pagebody">
        <h1>Edit my review for <%= nook.name %></h1>

        <form id="review_form" method="POST" action="/edit/<%= nook.nid %>/<%= review.rid %>">
            <fieldset>
                <label for="nookRating">
                <legend>Rating</legend></label>
            <input type="range" name="nookRating" id="nookRating" class="form-range" min="0" max="5" step="1"
                list="steplist" value='<%=review.rating%>' required />
            <datalist id="steplist">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </datalist>
            </fieldset>

            <br>
            <fieldset>
            <div class="row mb-4">
            <div class="col">
            <div data-mdb-input-init class="form-outline">
            <legend>Tags</legend>
            <div class="form-check form-switch">
                <% if (review.tags.includes('Wi-fi available')) {%>
                <input class="form-check-input" type="checkbox" role="switch" value="wifi" id="wifi-check"
                name="wifiCheck" checked>
                <% } else { %>
                <input class="form-check-input" type="checkbox" role="switch" value="wifi" id="wifi-check"
                name="wifiCheck">
                <% } %>
                <label class="form-check-label" for="wifi-check">
                    Wi-Fi Available?
                </label>
            </div>
            <div class="form-check form-switch">
                <% if (review.tags.includes('Outlet available')) {%>
                <input class="form-check-input" type="checkbox" role="switch" value="outlet" id="outlet-check"
                name="outletCheck" checked>
                <% } else { %>
                <input class="form-check-input" type="checkbox" role="switch" value="outlet" id="outlet-check"
                    name="outletCheck">
                    <% } %>
                <label class="form-check-label" for="outlet-check">
                    Outlet Available?
                </label>
            </div>
            <div class="form-check form-switch">
                <% if (review.tags.includes('Food available')) {%>
                <input class="form-check-input" type="checkbox" role="switch" value="outlet" id="food-check"
                name="foodCheck" checked>
                <% } else { %>
                <input class="form-check-input" type="checkbox" role="switch" value="outlet" id="food-check"
                name="foodCheck">
                <% } %>
                <label class="form-check-label" for="food-check">
                    Food Available?
                </label>
            </div>
            <div class="form-check form-switch">
                <% if (review.tags.includes('On-campus')) {%>
                <input class="form-check-input" type="checkbox" role="switch" value="campus" id="campus-check" name="campusCheck" checked>
                <% } else { %>
                    <input class="form-check-input" type="checkbox" role="switch" value="campus" id="campus-check" name="campusCheck">
                <% } %>
                <label class="form-check-label" for="campus-check">
                    On-campus?
                </label>
            </div>
            </div>
            </div>
            <div class="col">
            <div data-mdb-input-init class="form-outline">

            <br>
            <fieldset>
            <legend>Noise Level</legend>
            <% if (review.tags.includes('Average noisiness')) {%>
            <input type="radio" id="average" name="noise" value="Average noisiness" required checked>
            <% } else { %>
            <input type="radio" id="average" name="noise" value="Average noisiness">
            <% } %>
             <label for="average">Average noisiness</label><br>
            <% if (review.tags.includes('Usually quiet')) {%>
            <input type="radio" id="quiet" name="noise" value="Usually quiet" required checked>
            <% } else { %>
            <input type="radio" id="quiet" name="noise" value="Usually quiet" required>
            <% } %>
            <label for="quiet">Usually Quiet</label><br>
            <% if (review.tags.includes('Usually loud')) {%>
            <input type="radio" id="loud" name="noise" value="Usually loud" required checked>
            <% } else { %>
            <input type="radio" id="loud" name="noise" value="Usually loud">
            <% } %>
            <label for="loud">Usually Loud</label>
            </fieldset>
            </div>
            </div>
            <br>
            <fieldset>
                <label for="text"><legend>Edit Review</legend></label>
                <textarea id="text" name="text" class="form-control"
                    placeholder="Add Review Here" rows="3" cols="40"><%=review.text%></textarea>
            </fieldset>

            <br>
            <fieldset>
            <legend>Photos: </legend>
            <% if (review.photo) { %>
                <img class="nook_photos" src="<%= review.photo %>" alt="Photo of <%= nook.name %>"/>
            <%}%>
            </fieldset>
            <p><button type="submit" class="btn btn-primary mt-3 form-control">Update Review</button></p>
        </form>

        <form method="POST" action="/delete/<%= nook.nid %>/<%= review.rid %>">
            <p><button id="delete" type="submit" class="btn btn-danger mt-3 form-control">Delete Review</button></p>
        </form>
    </section>
    
    <!-- load local js -->
    <script> 

    $("#delete").click(function (event) {
        let result = confirm("This will delete your review - are you sure?\nClick OK to continue");
        if (!result) {
            event.preventDefault();
        }
    })


    </script>

</body>

</html>