<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <%- include("partials/imports.ejs") %>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
        <section class="pagebody">

            <h1>List of <%= listDescription %>
            </h1>

            <ol>
                <% list.forEach( (elt)=> {%>
                    <li>
                        <a href="<%='/nook/'+elt.nid %>""><%= elt.address %></a>
                    </li>
                    <% }); %>
            </ol>
        </section>

</body>

</html>