<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <%- include("partials/imports.ejs") %>
</head>

<body>
    <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>
        <section class="pagebody container">

            <h1>List of <%= listDescription %>
            </h1>
                <div class="row ">
                <% list.forEach( (elt)=> {%>
                        <div class="col">
                         <div class="card" style="width:250px;">
                                    <!--if there is no photo upload a preset blank-->
                            <img class="card-img-top" src="<%=elt.photos%>" alt="<%=elt.name%>">
                            <div class="card-body">
                                <h5 class="card-text">
                                <a href="<%='/nook/'+elt.nid %>""><%= elt.name %></a></h5>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                     </div> 
                     

        </section>

</body>

</html>