<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%=address%>
  </title>
  <%- include("partials/imports.ejs") %>
</head>

<body>
  <%- include("partials/navbar.ejs") %>
  <section class="pagebody">

    <h1>
      <%= address %>
    </h1>
    <p>Posted by <%= poster %></p>
    <h2>Rating:</h2>
    <span><%= rating %></span>
    <h2>Tags:</h2>
    <ul>
      <% tags.forEach(elt=> { %>
        <li><%=elt%></li>
      <% }) %>
    </ul>
    <h2>Reviews:</h2>
    <ul>
      <% reviews.forEach(elt=> { %>
        <li><%=elt%></li>
      <% }) %>
    </ul>
     <h2>Photos:</h2> 
      <img class="nook_photos" src="<%= photos %>" alt="Photo of <%= address %>" />
      
</section>
</body>

</html>