<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>
    <%=address%>
  </title>
  <%- include("partials/imports.ejs") %>
</head>

<body>
  <%- include("partials/navbar.ejs") %>
    <section class="pagebody">

      <h1>
        <%= nook.name %>
      </h1>
      <p>Posted by <%= poster %>
      </p>
      <h2>Rating </h2>
      <span>
        <%= rating %>
        <span>&#9733;</span>
      </span><br><br>
      <h2>Tags</h2>
      <ul class="list-group">
        <% tags.forEach(elt=> { %>
          <li class="list-group-item">
            <%=elt%>
          </li>
          <% }) %>
      </ul><br>
      <h2>Reviews</h2>
      <div>
      <ul class="review">
        <% reviews.forEach(elt=> { %>
          <li>
            <%=elt.text%>
          </li>
          <% }) %>
      </ul></div><br>
      <h2>Photos</h2>
      
      <% if (photos.length > 0) { %>
        <ul>
          <% photos.forEach(elt=> { %>
            <li>
              <img class="nook_photos" src="<%= elt %>" alt="Photo of <%= address %>"/>
            </li>
            <% }) %>
        </ul>
      <% } %>

      <form method="GET" action="/get-review">
        <br>
        <p><button name="nid" id="nid" value="<%= nook.nid %>">Add Review</button></p>
      </form>
    </section>
</body>

</html>