<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Nooks</title>
    <%- include("partials/imports.ejs") %>
</head>
<body>

    <%- include("partials/navbar.ejs") %>
    <section class="pagebody">

    <h1>Profile for <%= username %></h1>

    <h2>My Reviews</h2>
    <ul>
        <% userNooks.forEach(nook=> { %>
            <% nook.reviews.forEach(review => {%>
                <% if (review.username == username ) { %>
                    <li>
                        <a href="<%='../nook/' + nook.nid%>"><h3><%=nook.name%></h3></a>
                        <%=review.text%>
                        <form method="GET" action="/edit/<%= nook.nid%>/<%= review.rid%>">
                            <input type="submit" value="Edit review">
                        </form>
                    </li>
                <% } %>
            <% }) %>
        <% }) %>
    </ul>

    <h2>Favorite Nooks</h2>
    <ul>
        <% userLikes.forEach(like=> { %>
            <li><a href="<%='../nook/' + like.nid%>"><%= like.name %></a></li>
        <% }) %>
    </ul>

    <p>
        <form action="/logout" method="POST">
          <button>Logout <%= username %></button>
        </form>
    </p>
</section>
</body>
</html>
