<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Node Starter</title>
  <!-- load local stylesheet (css) -->
  <link rel="stylesheet" href="/styles.css" />
  <!-- loading jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <%- include("partials/imports.ejs") %>
</head>

<body>
  <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>

      <section class="pagebody">
        <h1>Add Review for <%= nook.name %>
        </h1>

        <form id="review_form" method="POST" action="/review/<%= nook.nid %>">

          <label for="nookRating" class="form-label">Rating</label>
          <input type="range" name="nookRating" id="nookRating" class="form-range" min="0" max="5" step="1" list="steplist" />
          <datalist id="steplist">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </datalist>

          <br>
          <p>Tags</p>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="wifi" id="wifi-check" name="wifiCheck">
            <label class="form-check-label" for="wifi-check">
              Wi-Fi Available?
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="outlet" id="outlet-check" name="outletCheck">
            <label class="form-check-label" for="outlet-check">
              Outlet Available?
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="food" id="food-check" name="foodCheck">
            <label class="form-check-label" for="food-check">
              Food Available?
            </label>
          </div>

          <br>
          <p>Noise Level</p>
          <input type="radio" id="quiet" name="noise" value="quiet" required>
          <label for="quiet">Usually Quiet</label><br>
          <input type="radio" id="loud" name="noise" value="loud">
          <label for="loud">Potentially Loud</label><br>


          <br>
          <fieldset>
            <p>Add Review</p>
            <input type="text" id="text" name="text" value="" class="form-control" placeholder="Add Review Here"
              required minlength="2" size="60" />
          </fieldset>

          <br>
          <label for="nookPhoto" class="form-label">Photo</label>
          <input type="file" accept="image/*" name="nookPhoto" id="nookPhoto" class="form-control" />
          <p><button type="submit" class="btn btn-primary mt-3 form-control">Submit</button></p>
        </form>
      </section>
      <!-- load local js -->
      <script src="/main.js"></script>
</body>

</html>