<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Nooks</title>
  <!-- load local stylesheet (css) -->
  <link rel="stylesheet" href="/styles.css" />
  <!-- loading jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <%- include("partials/imports.ejs") %>
</head>

<body>
  <%- include("partials/navbar.ejs") %>
    <%- include("partials/flashes.ejs") %>

      <section class="pagebody">
        <h1>Add Review for <%= nook.name %>
        </h1>

        <form id="review_form" method="POST" action="/review/<%= nook.nid %>" enctype="multipart/form-data">
          <fieldset>
            <label for="nookRating">
            <legend>Rating</legend></label>
          <input type="range" name="nookRating" id="nookRating" class="form-range" min="0" max="5" step="1"
            list="steplist" required />
          <datalist id="steplist">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </datalist>
        </fieldset>

          <br>
          <fieldset>
          <legend>Tags</legend>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" value="wifi" id="wifi-check" name="wifiCheck">
            <label class="form-check-label" for="wifi-check">
              Wi-Fi Available?
            </label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" value="outlet" id="outlet-check"
              name="outletCheck">
            <label class="form-check-label" for="outlet-check">
              Outlet Available?
            </label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" value="food" id="food-check" name="foodCheck">
            <label class="form-check-label" for="food-check">
              Food Available?
            </label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="campus-check"
              name="campusCheck">
            <label class="form-check-label" for="campus-check">
              On-campus?
            </label>
          </div>

          <br>
          <fieldset>
          <legend>Noise Level</legend>
          <input type="radio" id="average" name="noise" value="Average noisiness" required>
          <label for="average">Average Noisiness</label><br>
          <input type="radio" id="quiet" name="noise" value="Usually quiet" required>
          <label for="quiet">Usually Quiet</label><br>
          <input type="radio" id="loud" name="noise" value="Usually loud">
          <label for="loud">Usually Loud</label><br>
        </fieldset>

          <br>
      
          <fieldset>
            <label for="text"><legend>Add Review</legend></label>
            <textarea id="text" name="text" value="" class="form-control" placeholder="Add Review Here" required
              rows="3" cols="40"></textarea>
          
          </fieldset>
          <br>
          <fieldset>
          <label><legend>Photo</legend>
          <input type="file" accept="image/*" name="nookPhoto" id="nookPhoto" class="form-control" />
          </label>
          </fieldset>
          <p><button type="submit" class="btn btn-primary mt-3 form-control">Submit</button></p>
        </form>
      </section>
      <!-- load local js -->
      <script src="/main.js"></script>
</body>

</html>