<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Node Starter</title>
    <%- include("partials/imports.ejs") %>
</head>
<body>
  <%- include("partials/navbar.ejs") %>
  <section class="pagebody">

  <h1>Find a Nook</h1>
    <p>
        <%= data.customer %>
        <%= data.phone %>
        <%= data.addr %>
        <%= data.size %>
        <%= data.due %>
        <%= data.instructions %>
    </p>


<h2>Search by name if you know what nook or looking for, or find a new nook using the tag search!</h2>

<form class="example"
      id="search_form"
      method="GET"
      action="/results/">
 
  
  
  <fieldset>
    <legend>Search By Nook</legend>
    <p><label>Name: <input type=title name="title" value="<%= data.title %>" placeholder="Title"></label></p>
    
      
  </fieldset>
  <fieldset>
    <legend>Search By Tag</legend>
  
    <div>
      <input type="checkbox" id="wifi" name="wifi" value="wifi" />
      <label for="wifi">Free Wifi</label>
    </div>
  
    <div>
      <input type="checkbox" id="food" name="food" value="food" />
      <label for="food">Food Availability</label>
    </div>
    <div>
      <input type="checkbox" id="outlets" name="outlets" value="outlets" />
      <label for="outlets">Outlets</label>
    </div>

    <div>
        <p>Location</p>
        <input type="radio" id="onCampus" name="location" value="onCampus">
        <label for="on">On Campus</label><br>
        <input type="radio" id="offCampus" name="location" value="offCampus">
        <label for="off">Off Campus</label><br>
    </div>
    <div>
        <p>Noise Level</p>
        <input type="radio" id="quiet" name="noise" value="quiet">
        <label for="quiet">Usually Quiet</label><br>
        <input type="radio" id="loud" name="noise" value="loud">
        <label for="loud">Potentially Loud</label><br>
    </div>
      
  </fieldset>
  <p><button type="submit">Search</button></p>
</form>
</section>



</body>
</html>
